* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow: hidden; /* Hide scrollbars */
}

#brown {
  background-color: #ffcd9e;
  height: 66.5vh;
  width: 100vw;
  display: flex;

  flex-flow: row wrap;
}
#black {
  background-color: #282828;
  margin-top: 0px;
  height: 35.4vh;
  width: 100vw;
  display: flex;
}

#topLeftBlock {
  /* background-color: aqua; */
  height: 60.6vh;
  /*width: 49.4vw;*/
  width: 52.67vw;
}
#topRightBlock {
  /* background-color: brown; */
  /*padding-left: 3.27%;*/
  width: 39.9vw;
  height: 66.8vh;
}
#manImg {
  width: 39.9vw;
  height: 66.8vh;
  padding-left: 7.36vw;
}
#topLeftText {
  font-size: 2.5vw;
  margin-top: 9.32%;
  margin-left: 9.4%;
  width: 39.02vw;
  height: 12.1vh;
  line-height: 6.5vmin;
  font-family: inter;
  font-weight: 700;
}
#midLeftText {
  font-size: 1.38vw;
  padding-top: 3.14%;
  margin-left: 9.4%;
  width: 36.37vw;
  height: 9.1vh;
  line-height: 3.59vmin;
  font-family: inter;
  font-weight: 500;
}

#midLeftTextSecond {
  font-size: 2.24vmin;
  padding-top: 5.7%;
  margin-left: 9.4%;
  width: 15.76vw;
  height: 9.1vh;
  line-height: 3.59vmin;
  font-family: inter;
  font-weight: 800;
}

#interactionBox {
  /* background-color: cadetblue; */
  margin-left: 9.4%;
  width: 40vw;
  height: 7.19vh;
  align-items: center;
  display: flex;
}
#emailInput {
  width: 59.72%;
  font-size: 1.38vw;
  height: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  border-color: #000000;
  border-radius: 0.5vw;
  color: #888888;
  font-family: inter;
  font-weight: 600;
  border-width: 3px;
}
#registerButton {
  margin-left: 1.11vw;
  height: 100%;
  border: none;
  width: 37.5%;
  color: #ffffff;
  background-color: #000000;
  line-height: 4.2%;
  font-family: inter;
  font-weight: 700;
  font-size: 1.38vw;
  border-radius: 0.5vw;
  cursor: pointer;
}

#dataSpam {
  color: #ffffff;

  font-size: 1.11vmax;
  padding-top: 2%;
  margin-left: 9.3%;
  width: 23.8vw;
  height: 6.85vh;
  line-height: 2.87vh;
  font-family: inter;
  font-weight: 800;
}

#bottemLeft {
  /* background-color: white; */
  font-size: 1.38vmax;
  position: absolute;
  left: 13.23%;
  top: 73.4%;
  width: 16.38%;
  height: 20.22%;
  line-height: 6.06vh;
  font-family: inter;
  font-weight: 400;
}
.bottemBarLinks {
  text-decoration: none;
}
.bottemBarLinks:visited {
  color: white;
}
.bottemBarLinks:link {
  color: white;
}
#bottemLeftList {
  list-style: none;
  line-height: 4.5vh;
  font-size: 1.38vmax;
  font-weight: 400;
  font-family: inter;
  color: white;
}

#bottemRight {
  /* background-color: white; */
  position: absolute;
  left: 70%;
  top: 73.48%;
  width: 16.11%;
  height: 19.21%;
}
#bottemRightList {
  list-style: none;
  line-height: 4.5vh;
  font-size: 1.38vmax;
  font-weight: 400;
  font-family: inter;
  color: white;
  text-align: end;
}

#socialMediaLogo {
  padding-right: 10px;
}
.logoSize {
  width: 2.04vw;
  height: 3.08vh;
}
/* Thank you page*/

#thankYouBox {
  font-size: 2.88vmax;
  padding-top: 5.7%;
  margin-left: 9.4%;
  width: 16vw;
  height: 6.96vh;
  line-height: 6.99vh;
  font-family: inter;
  font-weight: 700;
}
