* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow: hidden; /* Hide scrollbars */
}

#brown {
  background-color: #ffcd9e;
  height: 66.5vh;
  width: 100vw;
  display: flex;
}
#black {
  background-color: #282828;
  margin-top: 0px;
  height: 35.4vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#topLeftBlock {
  height: 60.6vh;
  width: 52.67vw;
}
#topRightBlock {
  padding-left: 7.36vw;
  width: 39.9vw;
  height: 66.8vh;
}
#manImg {
  width: 39.9vw;
  height: 66.8vh;
}
#topLeftText {
  font-size: 2.5vw;
  margin: 9.32% 0% 0% 9.4%;
  width: 39.02vw;
  height: 12.1vh;
  line-height: 6.5vmin;
  font-family: inter;
  font-weight: 700;
}
#midLeftText {
  font-size: 1.38vw;
  padding: 3.14% 0% 0% 0%;
  margin-left: 9.4%;
  width: 36.37vw;
  height: 9.1vh;
  line-height: 3.59vmin;
  font-family: inter;
  font-weight: 500;
}

#midLeftTextSecond {
  font-size: 2.24vmin;
  padding-top: 5.7%;
  margin-left: 9.4%;
  width: 15.76vw;
  height: 9.1vh;
  line-height: 3.59vmin;
  font-family: inter;
  font-weight: 800;
}

#interactionBox {
  margin-left: 9.4%;
  width: 40vw;
  height: 7.19vh;
  align-items: center;
  display: flex;
}
#emailInput {
  width: 59.72%;
  font-size: 1.38vw;
  height: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  border-color: #000000;
  border-radius: 0.5vw;
  color: #888888;
  font-family: inter;
  font-weight: 600;
  border-width: 3px;
}
#registerButton {
  margin-left: 1.11vw;
  height: 100%;
  border: none;
  width: 37.5%;
  color: #ffffff;
  background-color: #000000;
  line-height: 4.2%;
  font-family: inter;
  font-weight: 700;
  font-size: 1.38vw;
  border-radius: 0.5vw;
  cursor: pointer;
}

#dataSpam {
  color: #ffffff;

  font-size: 1.11vmax;
  padding-top: 2%;
  margin-left: 9.3%;
  width: 23.8vw;
  height: 6.85vh;
  line-height: 2.87vh;
  font-family: inter;
  font-weight: 800;
}

#bottemLeft {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 16.38%;
}

#bottemLeftList {
  list-style: none;
  line-height: 4.5vh;
  font-size: 1.38vmax;
  font-weight: 400;
  font-family: inter;
  color: white;
}

#bottemRight {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 16.11%;
}
#bottemRightList {
  list-style: none;
  line-height: 4.5vh;
  font-size: 1.38vmax;
  font-weight: 400;
  font-family: inter;
  color: white;
  text-align: end;
}

#socialMediaLogo {
  padding-right: 10px;
}
.logoSize {
  width: 2.04vw;
  height: 3.08vh;
}
.bottemBarLinks {
  text-decoration: none;
}
.bottemBarLinks:visited {
  color: white;
}
.bottemBarLinks:link {
  color: white;
}
/* Thank you page*/

#thankYouBox {
  font-size: 2.88vmax;
  padding-top: 5.7%;
  margin-left: 9.4%;
  width: 16vw;
  height: 6.96vh;
  line-height: 6.99vh;
  font-family: inter;
  font-weight: 700;
}

/* for mobile devices */
@media only screen and (max-width: 480px) {
  #brown {
    background-color: #ffcd9e;
    height: 66.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #black {
    background-color: #282828;
    margin-top: 0px;
    height: 35.4vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #topLeftBlock {
    /* background-color: aqua; */
    height: 44.15%;
    width: 100%;
  }
  #topRightBlock {
    /* background-color: brown; */
    width: 100%;
    height: 55%;
    display: flex;
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }
  #manImg {
    width: 90%;
    height: 90%;
  }
  #topLeftText {
    text-align: center;
    font-size: 1em;
    margin: 10% 0%;
    width: 100%;
    height: 12.1%;
    line-height: 6.5vmin;
    font-family: inter;
    font-weight: 700;
  }
  #midLeftText {
    text-align: justify;
    word-wrap: break-word;
    box-sizing: border-box;
    font-size: 0.75em;
    padding: 0 1% 0 1%;
    margin-left: 0%;
    width: 100%;
    height: 20%;
    line-height: 3.59vmin;
    font-family: inter;
    font-weight: 500;
  }
  #midLeftTextSecond {
    /* show me how it look */
    text-align: center;
    font-size: 0.55em;
    padding-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 10%;
    line-height: 3.59vmin;
    font-family: inter;
    font-weight: 800;
  }
  #interactionBox {
    margin-left: 0%;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #emailInput {
    width: 45%;
    font-size: 0.55em;
    height: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    border-color: #000000;
    border-radius: 0.5vw;
    color: #888888;
    font-family: inter;
    font-weight: 600;
    border-width: 2px;
  }
  #registerButton {
    height: 100%;
    border: none;
    width: 25%;
    margin-left: 2%;
    color: #ffffff;
    background-color: #000000;
    line-height: 4.2%;
    font-family: inter;
    font-weight: 700;
    font-size: 0.55em;
    border-radius: 0.5vw;
    cursor: pointer;
  }

  #dataSpam {
    color: #ffffff;
    font-size: 0.65em;
    padding-top: 2%;
    margin-left: 0%;
    width: 100%;
    height: auto;
    line-height: 2.87vh;
    font-family: inter;
    font-weight: 800;
    text-align: center;
  }

  #bottemLeft {
    padding-top: 5%;
    align-items: center;
    position: static;
    font-size: 0.75em;
    width: 100%;
    height: 45%;
  }
  #bottemLeftList {
    list-style: none;
    line-height: 3vh;
    font-size: 1em;
    font-weight: 400;
    padding-left: 5%;
    font-family: inter;
  }
  #bottemRight {
    position: static;
    padding-bottom: 5%;
    font-size: 0.75em;
    width: 100%;
    height: 45%;
  }
  #bottemRightList {
    list-style: none;
    line-height: 3vh;
    font-size: 1em;
    font-weight: 400;
    color: white;
    padding-left: 5%;

    font-family: inter;
    text-align: start;
  }
  .bottemBarLinks {
    text-decoration: none;
  }
  .bottemBarLinks:visited {
    color: white;
  }
  .bottemBarLinks:link {
    color: white;
  }

  #socialMediaLogo {
    padding-right: 10px;
  }
  .logoSize {
    width: 5%;
    height: 6%;
  }

  #thankYouBox {
    font-size: 1.5em;
    text-align: center;
    padding-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 6.96vh;
    line-height: 6.99vh;
    font-family: inter;
    font-weight: 700;
  }
}
